/Face_Shifter/dataset

/Face_Shifter/result

/Face_Shifter/90000_G.pth

/Face_Shifter/face_modules/model_ir_se50.pth

/Face_Shifter/saved_models/G_latest.pth

/face-parsing.PyTorch/79999_iter.pth

/Face_Shifter/shape_predictor_68_face_landmarks.dat

*.jpg

*.png

*.PNG